.page-wrapper,html.phone,html.phone #content,html.phone body{height:100%}
.page,a,h1,h2,h3,h4,h5,p{-moz-transition:opacity .2s ease;transition:opacity .2s ease;-webkit-transition:opacity .2s ease}
.page__post-body,.page__post-title{position:relative;letter-spacing:.04em}
.app-wrapper,.app-wrapper__content,.aura,.aura-bg,.page__background,.phone .aura-bg{bottom:0;right:0}
.page__page li,.page__page p,.person__body p{margin-top:0;line-height:1.4}
.gallery__next,.gallery__previous,.navigation__arrow{border-right:.5rem solid transparent}
.gallery__project-info,.page-links,.page__page h1,.page__post,.page__post-body,.page__post-title,.person-links,.post__date,.post__title{text-transform:uppercase}
.aura-bg,.binyan-logo:after,.gallery__images:before,.gallery__thumb:after,.gallery__thumbnails:after,.gallery__video:before,.navigation__title:after,.page-links:after,.page-links:before,.page__page li:before,.page__post:before,.person-photo:before,.post__date:after,.post__thumbnail:after,.post__title:after{content:""}
*{-moz-box-sizing:border-box;box-sizing:border-box}
html.tablet{font-size:80%}
html.widescreen{font-size:100%}
body{background-color:#1C1D4C;overflow-x:hidden;color:#fff;font-family:futura-pt,helvetica,sans-serif;font-style:normal;font-size:90%;font-weight:300;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility}
.retina body{font-weight:400}
.phone body{margin:0;-webkit-text-size-adjust:none}
h1,h2,h3,h4,h5{font-size:inherit!important;font-weight:inherit;opacity:1}
h1.wf-loading,h2.wf-loading,h3.wf-loading,h4.wf-loading,h5.wf-loading{opacity:0}
p{opacity:1}
p.wf-loading{opacity:0}
a{color:inherit;text-decoration:none;opacity:1}
.aura,.navigation{position:fixed;color:#fff}
a.wf-loading{opacity:0}
.phone .page-wrapper{height:auto}
.page{overflow-y:scroll;overflow-x:visible;margin-left:7.25rem;margin-top:4.75rem;padding-top:1.45rem;height:96%;height:-webkit-calc(100% - 7.5rem);height:calc(100% - 7.5rem);margin-right:-300px;padding-right:300px;position:relative}
.phone .page{overflow-y:auto;overflow-x:hidden;margin-left:0;padding-left:20px;padding-right:20px;width:100%;margin-top:2rem;height:auto}
.phone .page-image{margin-top:-1em;width:100%}
.page__background{background-size:cover;background-position:center;position:fixed;top:0;left:0;z-index:-1}
.page__post{margin-bottom:40px;position:relative}
.page__post:before{background:#fff;display:block;height:1px;position:absolute;width:4px;top:-1.48rem}
.aura,.phone .app-wrapper--{height:100%}
.page__post-title{margin-bottom:12px}
.page__post-body{line-height:1.4}
.app-wrapper--about,.app-wrapper--contact{background-position:center bottom;background-color:#1C1D4C}
.app-wrapper--about .page,.app-wrapper--contact .page{z-index:3;overflow-y:scroll}
.phone .app-wrapper--about .page,.phone .app-wrapper--contact .page{overflow-y:hidden}
.app-wrapper--about .page.team-leaders,.app-wrapper--contact .page.team-leaders{overflow-y:visible}
.app-wrapper--news .app-wrapper__content{overflow-y:scroll}
.app-wrapper--animation,.app-wrapper--work{background-image:url(/images/aura-background.png);background-position:bottom right;background-size:cover}
.phone .app-wrapper--animation,.phone .app-wrapper--work{background:0 0!important}
.app-wrapper--about .page,.app-wrapper--work{-webkit-transition:none;transition:none;-moz-transition:none}
.app-wrapper{overflow-y:auto;position:absolute;top:0;left:0;-webkit-transition:background 1s ease;transition:background 1s ease;-moz-transition:background 1s ease}
.phone .app-wrapper{position:relative}
.app-wrapper__background{background-size:cover;background-position:center;background-repeat:no-repeat;bottom:0;left:0;position:fixed;right:0;top:0;opacity:1;-webkit-transition:opacity .5s;transition:opacity .5s;-moz-transition:opacity .5s}
.phone .app-wrapper__background{display:none}
.phone .app-wrapper-- .app-wrapper__background{display:block}
.app-wrapper--animation .app-wrapper__background{opacity:0}
.app-wrapper__background--hidden{opacity:0!important}
.app-wrapper__background--portait{background-size:auto 100%;background-position:center}
.app-wrapper__content{opacity:1;left:0;position:absolute;top:0;z-index:2;overflow:hidden;-webkit-transition:opacity 800ms;transition:opacity 800ms;-moz-transition:opacity 800ms}
.phone .app-wrapper__content{position:relative;overflow:visible;min-height:100%}
.app-wrapper--animation .app-wrapper__content,.app-wrapper--work .app-wrapper__content{z-index:auto}
.phone .app-wrapper--animation .app-wrapper__content,.phone .app-wrapper--work .app-wrapper__content{z-index:2}
.app-wrapper--navigation-open .app-wrapper__content{opacity:0}
.aura{min-height:110px;opacity:1;pointer-events:none;left:0;-webkit-transform:translateZ(0);transform:translateZ(0);-moz-transform:translateZ(0);overflow:hidden}
.phone .app-wrapper--about .aura,.phone .app-wrapper--animation .aura,.phone .app-wrapper--contact .aura,.phone .app-wrapper--work .aura{opacity:1!important}
.phone .aura{height:100%!important}
.aura--no-transition{-webkit-transition:none;transition:none;-moz-transition:none}
.aura-bg{background:url(/images/aura-background.png)bottom #47174a;background-size:cover;top:0;left:0;position:absolute;z-index:-1;opacity:0}
.phone .aura-bg{top:-2rem;left:0;-webkit-animation:none;animation:none}
.app-wrapper-- .aura-bg{-webkit-animation:rotate 80s infinite linear;animation:rotate 80s infinite linear;-webkit-animation-delay:500ms;animation-delay:500ms}
.gallery__image,.gallery__thumbnails,.gallery__video{-webkit-animation:fade .5s ease}
.auraLoaded .aura-bg{-webkit-transition:opacity .5s ease;transition:opacity .5s ease;opacity:1}
.binyan-logo{background-image:url(images/binyan-logo.png);background-size:contain;background-repeat:no-repeat;width:20%;max-width:322px;top:50%;position:fixed;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);opacity:1;-webkit-transition:opacity .5s ease-in;transition:opacity .5s ease-in;-moz-transition:opacity .5s ease-in}
.phone .binyan-logo{background-size:161px 24px;height:24px;margin-left:-80.5px;-webkit-transform:none;-ms-transform:none;transform:none;width:161px}
.binyan-logo:after{display:block;padding-top:15%}
.binyan-logo--hidden{opacity:0;z-index:-1;-webkit-transition:opacity .5s ease-out;transition:opacity .5s ease-out;-moz-transition:opacity .5s ease-out}
.navigation{top:3rem;left:7.25rem;opacity:1;-webkit-transition:opacity 5s ease;transition:opacity 5s ease;-moz-transition:opacity 5s ease;z-index:99}
.phone .navigation{position:absolute;top:0;left:0;right:0;padding:10px 20px}
.navigation__arrow{width:0;height:0;border-top:.65rem solid #fff;border-left:.5rem solid transparent;-webkit-transform:rotate(-180deg);-ms-transform:rotate(-180deg);transform:rotate(-180deg);-moz-transform:rotate(-180deg);position:absolute;-webkit-transition:-webkit-transform .5s cubic-bezier(.49,0,.31,1);transition:transform .5s cubic-bezier(.49,0,.31,1);-moz-transition:transform .5s cubic-bezier(.49,0,.31,1);left:-4rem;top:.25rem;z-index:99;-webkit-transform:translateZ(0)rotate(-180deg);transform:translateZ(0)rotate(-180deg);-moz-transform:translateZ(0)rotate(-180deg)}
.navigation--open .navigation__arrow{-webkit-transform:translateZ(0)rotate(0);transform:translateZ(0)rotate(0);-moz-transform:translateZ(0)rotate(0)}
.navigation--active .navigation__arrow{-webkit-transform:translateZ(0)rotate(-180deg);transform:translateZ(0)rotate(-180deg);-moz-transform:translateZ(0)rotate(-180deg)}
.app-wrapper--news .navigation__arrow{border-top-color:#000}
.app-wrapper--news .navigation--open .navigation__arrow{border-top-color:#fff}
.gallery--no-thumbnails .gallery__close,.gallery__next,.gallery__previous{width:0;height:0;border-top:.65rem solid #fff}
.phone .navigation__arrow{left:auto;right:20px;top:12px}
.navigation__hitarea{position:absolute;top:-3rem;left:-7.5rem;right:-3rem;width:14rem;bottom:0;border:none;background:0 0;z-index:999;outline:0}
.phone .navigation__hitarea{top:0;left:0;right:0;width:100%}
.navigation--open .navigation__hitarea{bottom:-10rem}
.navigation__hitarea:focus{outline:0}
.navigation__dropdown{position:absolute;top:0;-webkit-transition:top .5s ease;transition:top .5s ease;-moz-transition:top .5s ease}
.phone .app-wrapper--navigation-open .navigation__dropdown{margin-top:0}
.phone .navigation__dropdown{-webkit-transition:none;transition:none;margin-top:10px}
.navigation__link,.navigation__title{font-style:normal;letter-spacing:1.2px;display:block;margin-bottom:5px;text-transform:uppercase}
.navigation__title{opacity:0}
.navigation--open .navigation__title{opacity:1}
.navigation__title:after{background:#fff;display:block;height:1px;position:absolute;width:4px;top:2.4rem;opacity:0}
.navigation--open .navigation__title:after{opacity:1;-webkit-transition:opacity .5s;transition:opacity .5s;-moz-transition:opacity .5s}
.phone .navigation__title:after{top:2.5rem}
.navigation__link{position:absolute;top:0;opacity:0;padding:5px;margin-left:-5px;margin-top:-5px;-webkit-backface-visibility:hidden;-webkit-perspective:1000;-webkit-transition:opacity .5s,top .5s ease;transition:opacity .5s,top .5s ease;-moz-transition:opacity .5s,top .5s ease}
.navigation--open .navigation__link,.navigation__link.active{opacity:1}
.navigation--open .navigation__link{z-index:9999}
.navigation__link.active{text-decoration:underline}
.app-wrapper--news .navigation__link.active{color:#000;border-bottom-color:#000}
.app-wrapper--news .navigation--open .navigation__link.active{color:#fff;border-bottom-color:#fff}
.phone .navigation__link{-webkit-transition:none;transition:none}
.phone .navigation__link.active{-webkit-transition:opacity .5s;transition:opacity .5s}
.page-links__link,.person-links__link{-webkit-transition:border .1s;transition:border .1s}
.page-links,.person-links{letter-spacing:.04em;margin-top:.67rem;margin-bottom:40px;position:relative;width:10rem}
.page-links__link,.person-links__link{display:inline-block;margin-bottom:.5rem}
.page-links:after,.page-links:before{background:#fff;display:block;height:1px;position:absolute;width:4px}
.page-links:before{top:-1.55rem}
.phone .page-links:before{display:none}
.page-links:after{bottom:-.95rem}
.person,.person-wrapper{ bottom: 0; margin: 0; overflow: visible !important; padding: 0;  position: absolute; top:0;}
.page-links__link{letter-spacing:.1em;border-bottom:1px solid transparent;-moz-transition:border .1s}
.page-links__link--active{border-bottom:1px solid;position:relative}
.person-links__link{clear:left;letter-spacing:.1em;border-bottom:1px solid transparent;-moz-transition:border .1s}
.person__body,.person__header{-moz-transition:opacity .25s ease;-webkit-transition:opacity .25s ease}
.person-links__link.active{border-bottom:1px solid}
.page__page{max-width:346px}
.phone .page__page{max-width:none}
.page__page h1{letter-spacing:.1em;margin-top:28px;margin-bottom:11px;word-spacing:.1em}
.page__page p{margin-bottom:12px}
.page__page ul{padding:0;margin:0}
.page__page__body{padding-bottom:50px}
.page__page li{padding-left:10px;position:relative;list-style-type:none}
.page__page li:before{background:#fff;display:block;height:1px;position:absolute;width:4px;left:0;top:11px}
.person-wrapper{ bottom: auto; height: 100%; left: 18rem; overflow: hidden; top: 0;   width: 22.5rem;  z-index: -1;}
.person{padding-right:200px;margin-right:-200px;max-height:-webkit-calc(50% - 4rem);max-height:calc(50% - 4rem);overflow-y:scroll}
.phone .person{position:relative;width:auto;margin-bottom:3em}
.person__header{margin-bottom:43px;position:relative;opacity:1;transition:opacity .25s ease}
.person__header:after{background:#fff;content:"";display:block;height:1px;position:absolute;width:4px;bottom:-1.4rem}
.person__body{opacity:1;transition:opacity .25s ease}
.person__body p{margin-bottom:10px}
.person__body p:last-child{margin-bottom:0}
.person-photo{ bottom:3rem;top:3rem; left:55rem; opacity:1;-webkit-transition:opacity .5s ease;transition:opacity .5s ease;-moz-transition:opacity .5s ease;position:fixed;-webkit-transform:translateZ(0);transform:translateZ(0);-moz-transform:translateZ(0)}
.person-photo img{display:block;height:100%;width:auto}
.phone .person-photo img{height:auto;width:100%}
.widescreen .person-photo{ left: 55rem;}
.tablet .person
{
	overflow:scroll !important;
	  padding-right: 200px;
	  margin-right: -200px;
}
.tablet .person-photo img
{
	width:100%;
	height:auto;
}
.tablet .person-photo{left:25rem}
.tablet .person-wrapper {left: 0; top: auto; width: 13.5rem;}
.phone .person-photo{position:relative;bottom:auto;left:auto;top:auto;margin-bottom:1em}
.loading .person-photo{opacity:0}
.person-photo:before{position:absolute;top:0;bottom:0;right:0;left:0;opacity:.15;background-image:url(/images/aura-background.png);background-position:center;background-size:cover}
.gallery{height:100%;min-width:100%;overflow:hidden}
.phone .gallery{background:0 0;margin-top:2.6rem;position:relative}
.gallery__images{position:relative;-webkit-transition:margin .5s ease;transition:margin .5s ease;-moz-transition:margin .5s ease}
.gallery__images:before{display:block;padding-top:50%}
.phone .gallery__images:before{padding-top:0}
.phone .gallery__images>div>div>div{text-align:center}
.phone .gallery__images>div>div>div .gallery__image{max-height:-webkit-calc(75vh - 3rem);max-height:calc(75vh - 3rem);max-width:100%;height:auto;width:auto}
.phone .gallery__images>div>div>div .gallery__project-info{text-align:left}
.phone .gallery--landscape .gallery__images>div>div>div .gallery__image{max-height:-webkit-calc(80vh - 3rem);max-height:calc(80vh - 3rem)}
.phone .gallery--landscape .gallery__images>div>div>div .gallery__project-info{text-align:left;font-size:9px}
.phone .gallery--landscape .gallery__images>div>div>div .gallery__project-info .gallery__project-title{display:inline}
.phone .gallery--landscape .gallery__images>div>div>div .gallery__project-info .gallery__project-client{margin-left:20px}
.gallery__image{animation:fade .5s ease;background-position:center;background-repeat:no-repeat;background-size:cover;height:100%;width:100%;opacity:1;-webkit-transition:opacity .5s ease;transition:opacity .5s ease;-moz-transition:opacity .5s ease}
.gallery--portrait .gallery__image,.gallery__image.gallery__image--portrait{background-size:auto 100%;background-position:center}
.gallery__image--portrait .phone .gallery__image{height:auto}
.gallery--loading .gallery__image,.gallery__image.gallery__image--loading{opacity:0}
.gallery__video{animation:fade .5s ease;position:absolute;width:50%;left:50%;top:46%;max-width:720px;opacity:1;-webkit-transition:opacity 5s ease;transition:opacity 5s ease;-moz-transition:opacity 5s ease;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%)}
.gallery--hide .gallery__thumbnails,.gallery--loading .gallery__video{opacity:0}
.gallery__video:before{display:block;padding-top:56%}
.app-wrapper--animation .gallery__thumbnails:after,.gallery--no-thumbnails .gallery__thumbnail-mask,.phone .gallery__thumbnails:after{display:none}
.gallery__video iframe{position:absolute;top:0;left:0;right:0;bottom:0;height:100%;border:none;width:100%}
.phone .gallery__video{position:relative;left:0;width:100%;top:0;-webkit-transform:none;-ms-transform:none;transform:none}
.phone .gallery__video:before{padding-top:60%}
.gallery__thumbnails{position:absolute;animation:fade .5s ease;bottom:0;height:27.5%;right:0;padding-left:7.25rem;left:0;z-index:2;-webkit-transition:height 1s ease;transition:height 1s ease;-moz-transition:height 1s ease}
.gallery--no-thumbnails .gallery__thumbnails{height:12%;min-height:110px}
.tablet .gallery__thumbnails{height:27.5%}
.phone .gallery__thumbnails{z-index:1;position:relative;left:auto;height:4rem;margin:0 20px;min-height:0}
.gallery__thumbnails:after{opacity:.5;background:url(/images/aura-background.png)center #47174a;top:0;bottom:0;left:0;right:0;position:absolute;background-size:100%;z-index:0}
.gallery__close,.gallery__thumb,.post__thumbnail{background-position:center}
.gallery__thumbnail-mask{top:3rem;bottom:4.5rem;overflow:hidden;position:absolute;width:100%;z-index:5}
.gallery__thumbnail-list{top:0;bottom:0;width:100%;position:absolute}
.gallery__thumb{background-size:cover;display:block;float:left;top:0;bottom:0;position:absolute;opacity:0;-webkit-transition:opacity .5s;transition:opacity .5s;-moz-transition:opacity .5s;-webkit-transform:translateZ(0);transform:translateZ(0);-moz-transform:translateZ(0)}
.gallery__thumb:after{display:block;padding-left:80%}
.gallery__thumb--loaded{opacity:1}
.gallery__project-info{position:absolute;z-index:5;bottom:1.5rem;letter-spacing:.1em}
.phone .gallery__project-info{position:relative;width:100%;margin-top:30px;padding-left:20px}
.gallery__project-info__more{position:absolute;font-size:12px;left:20px;top:40px;z-index:5}
.app-wrapper--animation .gallery__project-info__more{top:20px;left:20px}
.gallery--landscape .gallery__project-info__more{top:20px}
.gallery__project-title{margin-bottom:1px}
.gallery__navigation{position:absolute;z-index:5;left:7rem;top:1.25rem}
.phone .gallery__navigation{left:auto;right:45px;top:20px}
.gallery__close{z-index:5;width:1rem;height:1rem;position:absolute;left:-3rem;top:-.2rem;background-image:url(images/close-icon.png);background-size:.9rem;background-repeat:no-repeat;border:0 solid transparent;-webkit-transition:all .2s ease;transition:all .2s ease;-moz-transition:all .2s ease}
.post-list,.post__thumbnail{-moz-transition:opacity .5s ease;transition:opacity .5s ease;-webkit-transition:opacity .5s ease}
.gallery--no-thumbnails .gallery__close{border-right:.5rem solid transparent;border-left:.5rem solid transparent;position:absolute;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);-moz-transform:rotate(0);background-image:none}
.phone .gallery__close{display:none}
.gallery__previous{border-left:.5rem solid transparent;position:absolute;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);-moz-transform:rotate(90deg);left:0}
.gallery__next{border-left:.5rem solid transparent;position:absolute;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);-moz-transform:rotate(-90deg);left:32px}
@-webkit-keyframes fade{0%,60%{opacity:0}
100%{opacity:1}}
@keyframes fade{0%,60%{opacity:0}
100%{opacity:1}}
.post-list{color:#000;margin-top:4.1rem;margin-right:2rem;opacity:1;position:relative}
.phone .post-list{padding:20px;margin:1.8em 0 0;overflow:hidden;z-index:2}
.post-list--hidden{opacity:0;z-index:0}
.post{margin-bottom:28px;margin-left:20rem;overflow:hidden;width:64rem}
.widescreen .post{margin-left:15rem}
.tablet .post{margin-left:12rem}
.phone .post{margin-left:0;width:100%;overflow:auto}
.post a{text-decoration:underline}
.post p{margin-bottom:10px}
.post__thumbnail{background-size:cover;display:block;float:left;margin-bottom:17px;opacity:1;width:-webkit-calc(50% - .5rem);width:calc(50% - .5rem)}
.post__thumbnail:after{display:block;padding-top:69%}
.phone .post__thumbnail{height:auto;width:100%}
.post__thumbnail--hidden{opacity:0}
.post__thumbnail--secondary{margin-left:1rem}
.phone .post__thumbnail--secondary{margin-left:0}
.post__meta{float:left;width:30%}
.phone .post__meta{width:100%}
.post__share-link,.post__share-title{display:block;letter-spacing:-.01em}
.post__content{float:right;width:70%}
.phone .post__content{width:100%}
.post__content-wrapper{position:relative;width:-webkit-calc(50% - .5rem);width:calc(50% - .5rem)}
.phone .post__content-wrapper{width:100%}
.post__date,.post__title{letter-spacing:.11em;margin-bottom:42px;position:relative}
.post__date:after,.post__title:after{background:#000;display:block;height:1px;position:absolute;width:4px;top:38px}
.post__body{letter-spacing:-.01em}
