<!doctype html>
<html>
<head>
  <meta charset='UTF-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="keywords" content="architectural visualization, architectural visualisation, architectural renderings, interior perspectives, photo-montage, 3D renderings, 3D animation, visualisation studio, rendering studio, visualisation sydney, visualisation australia">
  <meta name="description" content="High quality photo-realistic architectural visualisation. Exterior and interior renderings, animated walk-throughs and fly-overs. Fast turn-around and competitive rates.">
  <title>Binyan Studios | Architectural Visualisation</title>
  <link rel="stylesheet" href="/index.css" />
  <script>
    (function(d) {
      var config = {
        kitId: 'atz8fow',
        scriptTimeout: 3000
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="breakpoint" content="phone" media="(max-width: 668px)">
  <meta name="breakpoint" content="tablet" media="(min-width: 668px) and (max-width: 1024px)">
  <meta name="breakpoint" content="widescreen" media="(min-width: 1024px) and (max-width: 1440px)">
  <meta name="breakpoint" content="retina" media="only screen and (-webkit-min-device-pixel-ratio : 2)">
  {% include 'inline_js.html' %}
  <!--[if lte IE 9]><script type="text/javascript">window.ie = true</script><![endif]-->
</head>
<body>
<script id="data" type="text/javascript">
  window.entryPoint = "{{current.url}}";
  window.siteData = {"pages": [{% include 'pageloop' %}]};
</script>
<div id="content"></div>
<script src="/index.js"></script>
</body>
</html>
